<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<%- include common/topbar %>
	<%- include common/rightbar %>
	<%- include common/header %>
	<%- include common/navbar %>
	<div id="container">
		<%- include common/carousel %>
		<%- include common/process %>
		<div id="floor">
			<%- include common/floor %>
		</div>
	</div>
	<script src="http://lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.min.js"></script>
	<script data-main="js/app" src="js/lib/require.js"></script>
</body>
</html>