<div id="carousel_top">
    <ul class="img_wrap">
        <% carousel_top.forEach(function(item,index){ %>
        <li data-tag="<%- index %>">
            <a href="<%- item['url'] %>">
                <img src="<%- item['img'] %>" alt="">
            </a>
        </li>
        <% }) %>
        
    </ul>
    <ul class="btn_wrap">
        <% carousel_top.forEach(function(item,index){ %>
        <li data-tag="<%- index %>">
            <a href="<%- item['url'] %>"></a>
        </li>
        <% }) %>
    </ul>
</div>