<head>
    <link rel="stylesheet" href="css/app.css">
</head>
<div id="process">
    <div class="title"></div>
    <ul>
        <li>
            <p class="summary"><span>提前<strong>6</strong>月</span></p>
            <p class="target"><a href="<%- process['one'] %>">婚宴酒店</a></p>
            <i></i>
        </li>
        <li>
            <p class="summary"><span>提前<strong>5</strong>月</span></p>
            <p class="target"><a href="<%- process['two'] %>">婚庆服务</a></p>
            <i></i>
        </li>
        <li>
            <p class="summary"><span>提前<strong>4</strong>月</span></p>
            <p class="target"><a href="<%- process['three'] %>">婚纱摄影</a></p>
            <i></i>
        </li>
        <li>
            <p class="summary"><span>提前<strong>3</strong>月</span></p>
            <p class="target"><a href="<%- process['four'] %>">婚纱礼服</a></p>
            <i></i>
        </li>
        <li>
            <p class="summary"><span>提前<strong>2</strong>月</span></p>
            <p class="target"><a href="<%- process['five'] %>">婚戒珠宝</a></p>
            <i></i>
        </li>
        <li>
            <p class="summary"><span>提前<strong>1</strong>月</span></p>
            <p class="target"><a href="<%- process['six'] %>">家纺布艺</a></p>
            <i></i>
        </li>
        <li>
            <p class="summary"><span>提前<strong>2</strong>周</span></p>
            <p class="target"><a href="<%- process['seven'] %>">婚品小件</a></p>
            <i></i>
        </li>
        <li>
            <p class="summary"><span>提前<strong>1</strong>周</span></p>
            <p class="target"><a href="<%- process['eight'] %>">糖酒礼品</a></p>
            <i></i>
        </li>
    </ul>
    <div class="user">
        <a href="#" class="logIn">登录</a>
        <a href="#" class="regist">注册</a>
        <span class="info">随便看看</span>
    </div>
</div>